html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #18191f;
}

nav ul{
    padding: 0;
    margin: 0;
    display : flex;
}

nav li{
    display: block;
}

nav a{
    display: block;
    padding : 26px 16px;
    font-weight:700;
}

a{
    color: #18191f;
    text-decoration: none;
}

a:hover{
    color:#8c30f5;
}

header{
    position: fixed;
    width: 100%;
    background-color: #fff;
}

body{
    margin : 0;
}

img {
    width:100%;
}

*{
    box-sizing:border-box;
}

.header-m{
    border-bottom: 1px solid #e5e9f2;
}

.container{
  margin: 0 auto;
  padding: 0 15px;
}

.index .container{
  display: flex;
  justify-content: space-between;
  align-items:center ;
  padding-top:127px;
}

.index_title{
  font-weight:800;
  font-size: 5rem;
  margin:0 5px 16px;
}

.index_description{
  font-size: 1.28rem;
  font-weight: 800;
  margin-bottom: 32px;
  margin-left: 5px;
}

.btn{
  font-weight: 800;
  font-size: 1.43rem;
  background-color: #8c30f5;
  color:#fff;
  display: inline-block;
  padding: 16px 40px;
  border-radius: 10px;
  transition: 300ms background-color ease;

}

.btn:hover{
  color:#fff;
  background: #9742f9;
}

.index_photo{
  width: 540px;
  height:540px;
}

.about{
  padding: 80px 0;
  background-color: #9742f9;
  color: #fff;
}

.about p{
  font-size: 1.28rem;
  line-height: 2;
}

.skills_item_all{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.skills_item{
  flex: 1 1 25%;
  padding:15px;
}

.skills_box{
  border: 1px solid #e5e9f2;
  box-shadow: 0px 10px 20px rgba(41,41,42,0.07);
  font-weight: 800;
  font-size:1.7rem;
  border-radius: 8px;
  padding: 40px;
  height:100%;
  transition: 300ms box-shadow ease;
}

.skills_box:hover{
  box-shadow: 0px 10px 20px rgba(41,41,42,0.2);
}


.project_item_all{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}


.project_item{
  flex:1 1 25%;
  padding : 15px;
}

.project_img{
  width: 400px;
  border-radius: 10px;
}

.project_title{
  font-weight: 800;
  font-size: 1.7rem;
  margin : 16px 0 8px;
}

.project_description{
  font-size:1.1rem;
}

.exp_wrap{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.exp_item{
  flex: basis 25%;
  padding:15px;
}

.exp_title{
  font-weight: 800;
  font-size:1.4rem;
  margin-bottom: 13px;
}

.exp_text{
  font-size: 1.14rem;
  line-height: 1.5;
}

.decor{
  display: flex;
  margin:16px 0;
}

.decor_circle{
  background-color: #2EC5CE;
  width:24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 24px;
}

.contact{
  background-color: #fff;
  padding: 5px;
  margin-bottom: 30px;
}

.contact ul{
  list-style-type: none;
  padding:0;
  margin:0;
  font-size: 1.48rem;
  font-weight: 900;
}
.contact li{
  margin-bottom:10px;
}

.contact a{
  color:#8c30f5;
}

footer {
  background-color: lightgrey;
}

footer .container{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-top:24px;
  padding-bottom: 24px;
}

.social_link{
  margin-right:30px; 
}
